<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Receiving station</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="ReceivingStation.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="ReceivingStation.js"></script>
  </head>

  <body ng-app="receivingstation" ng-controller="receivingcontroller">


<section>
     <h1 class="table-title">Team 2 - Receiving Station</h1>
     <div class="col-xs-6">
         <h3 class="table-title">Bot-1</h3>
   <div>
    <table>
      <thead>
        <tr>
          <th style="font-size:20px">Name</th>
          <th style="font-size:20px">Quantity</th>
        </tr>
    </thead>
  </table>
</div>
<div class="tbl-content" style="height: auto;">
<table class="table-fill">
      <tbody class="table-hover">
        
        <tr>
          <td>Red
          </td>
          <td><span class="groupValue">{{red}}</span></td>
        </tr>
        <tr>
            <td>Green
              </td>
              <td>{{green}}</td>
        </tr>
        
        <tr>
            <td>Blue  
              </td>
              <td>{{blue}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-xs-6">
<h3 class="table-title">Bot-2</h3>
  <div>
   <table>
     <thead>
       <tr>
         <th style="font-weight:100">Name</th>
         <th style="font-weight:100">Quantity</th>

       </tr>
   </thead>
 </table>
</div>
<div class="tbl-content" style="height: auto;">
<table class="table-fill">
     <tbody class="table-hover">
        <tr>
            <td>White
            </td>
            <td>{{white}}</td>
          </tr>
          <tr>
              <td>Black
                </td>
                <td>{{black}}</td>
          </tr>
          
          <tr>
              <td>Yellow
                </td>
                <td>{{yellow}}</td>
          </tr>
     </tbody>
   </table>
 </div>
</div>

<div class="centered">
    <button style="margin-top: 1%;"class="large green button" ng-click="botone(); botonedata()">Bot 1</button>
    <button class="large green button" ng-click="bottwo(); bottwodata()">Bot 2</button>
    <button class="large green button" ng-click="maintainenceOn(); startmaintenencedata()">Maintainence On</button>
    <button class="large green button" ng-click="maintainenceOff(); stopmaintenencedata();">Maintainence Off</button>
    </div>
    

<div class="col-xs-6">
    <h3 class="table-title">Bot-1 (Detailed)</h3>
<div>
<table>
 <thead>
   <tr>
     <th style="font-size:20px">OrderID</th>
     <th style="font-size:20px">Name</th>
     <th style="font-size:20px">Quantity</th>
   </tr>
</thead>
</table>
</div>
<div class="tbl-content">
<table class="table-fill">
 <tbody class="table-hover">
   
   <tr ng-repeat="order in pending.Orders">
     <td ng-if="order.botID == 11">   
       <span class="groupHeader">{{order.orderID}}</span>
     </td>
     <td ng-if="order.botID == 11">
       <span class="groupValue" ng-if="order.productID == 1" >Red</span>
       <span class="groupValue" ng-if="order.productID == 2" >Green</span>
       <span class="groupValue" ng-if="order.productID == 3" >Blue</span>
       <span class="groupValue" ng-if="order.productID == 4" >Black</span>
       <span class="groupValue" ng-if="order.productID == 5" >Yellow</span>
       <span class="groupValue" ng-if="order.productID == 6" >White</span>
     </td>

     <td ng-if="order.botID == 11">
         <span class="groupValue">{{order.qtyOnTrip}}</span>
     </td>
   </tr>
 </tbody>
</table>
</div>
</div>

<div class="col-xs-6">
    <h3 class="table-title">Bot-2 (Detailed)</h3>
<div>
<table>
 <thead>
   <tr>
     <th style="font-size:20px">OrderID</th>
     <th style="font-size:20px">Name</th>
     <th style="font-size:20px">Quantity</th>
   </tr>
</thead>
</table>
</div>
<div class="tbl-content">
<table class="table-fill">
 <tbody class="table-hover">
   
   <tr ng-repeat="order in pending.Orders">
      <td ng-if="order.botID == 12">   
          <span class="groupHeader">{{order.orderID}}</span>
        </td>
     <td ng-if="order.botID == 12">
       <span class="groupValue" ng-if="order.productID == 1" >Red</span>
       <span class="groupValue" ng-if="order.productID == 2" >Green</span>
       <span class="groupValue" ng-if="order.productID == 3" >Blue</span>
       <span class="groupValue" ng-if="order.productID == 4" >Black</span>
       <span class="groupValue" ng-if="order.productID == 5" >Yellow</span>
       <span class="groupValue" ng-if="order.productID == 6" >White</span>
     </td>

     <td ng-if="order.botID == 12">
         <span class="groupValue">{{order.qtyOnTrip}}</span>
     </td>
   </tr>
 </tbody>
</table>
</div>
</div>

</>


</section>
  </body>
</html>
